@font-face {
    font-family: "MarkoOne";
    src: url('/src/assets/fonts/MarkoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Pixelify-Font";
    src: url('../fonts/Pixelify/PixelifySans-VariableFont_wght.ttf') format('truetype');
}
h1 {
    font-family: 'MarkoOne'
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: none;
}



body {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.error {
  color: red;
}

.container {
  margin: auto;
  margin-top: 2.5rem;
}

.styledLink {

  display: flex;
   
    justify-content: start;
    align-items: center;
    gap: .5rem;
    margin: .5rem;
    padding: .5rem;
    font-size: 1rem; 
    text-decoration: none;
    background-color: #FCFBF3;
    
    
    color: black;
  
    &:focus {
        text-decoration: underline;
        color: #FFC700;
    }

    
}
.sidebar {
  display: flex;
  position: fixed;  
  padding: 1rem;
  flex-direction: column;
  width: auto;
  height: 100%;
  background-color: #4ECB71;
  transition: width 0.3s ease-in-out;
  z-index: 100;

}


.navigation {
  
  display: flex;
  font-family: "MarkoOne";
  gap: 1rem;


  
}

.menu {
  display: flex;
  flex-direction: column;
  height: auto;

}

.menu_icon {
  /* Your menu icon styles */
}

.logout {
  font-family: "MarkoOne";
  padding: 0.5rem;
  flex-basis: 100px;
}

.content {
  flex: 1;
  min-width: 0;
  margin-left: 0px;
}



@media screen and (min-width: 768px) {
  .menu_icon {
    display: none; /* Hide the menu icon on larger screens */
  }

  .sidebar {
    display: flex;
  }

  .content {
    margin-left: 250px; /* Show the sidebar on larger screens */
  }
  
}

@media screen and (max-width: 768px) {
  
  .styledLink {
    
    gap: 0.5rem;
    padding: 0.75rem 1rem; /* Adjust padding as needed */
    font-size: 1rem;
    text-decoration: none;
    background-color: #FCFBF3;
    max-width: 250px; /* Set a maximum width for the links */
    color: black;
  }
  .menu_icon {
    position: fixed; /* Show the menu icon on smaller screens */
    z-index: 120; 
  }

  .menu {
    position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      
  }

  .sidebar {
    display: none;
  }
  .sidebar.show {
    position: fixed;
    top: 0;
    left: 0; /* Adjust the position to be at the left edge */
    display: flex;
    flex-direction: column;
    width: fit-content;
    
    background-color: #4ECB71;
    transition: width 0.3s ease-in-out;
    z-index: 100;
    
  }
  



  
}




/* Admin Client Page */

.adminClientsContainer {
  height: 100vh;
  display: flex;
  background-color: #FCFBF3;
  color: #000;
}

.clientList {
  flex: 1;
  position: relative;
  padding: 20px;
  background-color: Ivory;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.clientProfileContainer {
  flex: 4;
  padding: 20px;
  background-color: #FFFFFF;
}

.clientLink {

  padding: 10px 0;
  border-bottom: 2px solid #4ECB71;
}

.clientLink a {
  color: #000;
  text-decoration: none;
  &:focus {
    text-decoration: underline;
    color: #4ECB71;
}
}

.addClientLink {
  display: block;

  background-color:  #4ECB71;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  bottom: 20px; /* Position from bottom */
  left: 20px; /* Align from left */
  right: 20px; /* Align from right */
  
}


/* Client Profile*/


.clientProfile {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.clientProfile h2, .clientProfile h3 {
  color: #4ECB71;
  margin-bottom: 20px;
}

.clientProfile p {
  margin: 10px 0;
  line-height: 1.6;
}

.petDetails {
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.loading, .error, .notFound {
  color: #FF0000;
  font-weight: bold;
}
.clientPets {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */
}

.petList {
  list-style-type: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure the list takes full width of the container */
}

.petLink {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border: 1px solid #dcdcdc;
  color: #333;
  text-align: left;
  max-width: 100%;
  margin-bottom: 5px; /* Adds space between list items */
  display: block; /* Ensures it's a block-level element */
}

.petLink:hover {
  background-color: #e0e0e0;
}

.petLink.active {
  background-color: #4ECB71;
  color: white;
}


.updateBtn {
  margin-top: 1rem;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #92DB95;
    font-family: 'MarkoOne';
    font-weight: 700;
    font-size: .90rem;
    border: 1px solid white;

    cursor: pointer;
}

.clientCloseBtn {
  width: 80px;
  height: 40px;
  border-radius: 50px;
  background-color: #92DB95;
  font-family: 'MarkoOne';
  font-weight: 700;
  font-size: .90rem;
  border: 1px solid white;

  cursor: pointer;
  
}
/* Admin Treatment Page design for 2 buttons */


.openFormButton {
  background-color: #5cb85c; /* A green shade for the 'open' action */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem; /* Add some space between this button and the next one */
  transition: background-color 0.3s ease;
}

.openFormButton:hover,
.openFormButton:focus {
  background-color: #4cae4c; /* A darker green on hover/focus for better interaction */
}

.toggleEditButton {
  background-color: #f0ad4e; /* An orange shade to signify a changeable state */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.toggleEditButton:hover,
.toggleEditButton:focus {
  background-color: #ec971f; /* A darker orange on hover/focus */
}



/* Vet Info Page CSS*/

/* Vet Clinic Info Page CSS */
.imageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.imageContainer div {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
 
}

.imageContainer img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
 
}

.imageContainer div:hover img {
  transform: scale(1.1);
}


.imageContainer img {
  max-width: 100%;
  height: auto;
  display: block;

}

.infoContainer {
  display: flex;
  background: white;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.information h1 {
  color: #4cae4c;
  margin: 0 0 1rem 0;
}

.information p {
  color: black;
  margin: 0;
}

/* Add some space between icons and text for better readability */
.detail img {
  margin-right: 0.5rem;
}
